---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
//import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Get template', href: 'https://github.com/onwidget/astrowind', icon: 'tabler:download' }}
    callToAction2={{ text: 'Learn more', href: '#features' }}
    image={{ src: import('~/assets/images/home/DonateCheerful.jpg'), alt: 'Donate & Cheer illustration' }}
  >
    <Fragment slot="title">
      Free template for <span class="hidden lg:inline">create your website <br class="2xl:hidden"/> with</span>
      <span class="text-accent dark:text-white highlight"> Astro 2.0</span> + Tailwind CSS
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">AstroWind</span> is a free, customizable and production-ready template for Astro 2.0 +
        Tailwind CSS.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span> Suitable for Startups,
      Small Business, Sass Websites, Professional Portfolios, Marketing Websites, Landing Pages & Blogs.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    highlight="Features"
    title="What you get with AstroWind"
    subtitle="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam, eaque ipsa quae."
    items={[
      [
        {
          title: 'Astro + Tailwind CSS Integration',
          description:
            'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
          icon: 'tabler:brand-tailwind',
        },
        {
          title: 'Ready-to-use Components',
          description:
            'Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
          icon: 'tabler:components',
        },
        {
          title: 'Best Practices',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
          icon: 'tabler:list-check',
        },
      ],
      [
        {
          title: 'Excellent Page Speed',
          description:
            'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
          icon: 'tabler:rocket',
        },
        {
          title: 'Search Engine Optimization (SEO)',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
          icon: 'tabler:arrows-right-left',
        },
        {
          title: 'Open to new ideas and contributions',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
          icon: 'tabler:bulb',
        },
      ],
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    highlight="Inside template"
    title="And what's inside? ..."
    items={[
      {
        title: 'Per ei quaeque sensibus',
        description:
          'Ex usu illum iudico molestie. Pro ne agam facete mediocritatem, ridens labore facete mea ei. Pro id apeirian dignissim.',
      },
      {
        title: 'Cu imperdiet posidonium sed',
        description:
          'Amet utinam aliquando ut mea, malis admodum ocurreret nec et, elit tibique cu nec. Nec ex maluisset inciderint, ex quis.',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
        description:
          'At sed possim oporteat probatus, justo graece ne nec, minim commodo legimus ut vix. Ut eos iudico quando soleat, nam modus.',
      },
    ]}
    image={{
      src: import('~/assets/images/home/donationbox.jpg'),
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Ad vix debet docendi</h3>
      Ne dicta praesent ocurreret has, diam theophrastus at pro. Eos etiam regione ut, persius eripuit quo id. Sit te euismod
      tacimates.
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Electric throw blankets',
      },
      {
        title: 'Drymouth lozenges',
      },
      {
        title: 'Chemotherapy approved lotions & ointments',
      },
      {
        title: 'Per ei quaeque sensibus',
      },
      {
        title: 'Cu imperdiet posidonium sed',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
      },
    ]}
    image={{
      src: import('~/assets/images/home/DonationItems.jpg'),
      alt: 'Vintage Image',
    }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="How to get Comfort"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Request/Download application</span>',
        description:
          'Submit the Request form or download the form and email it to help@wegivecomfort.org',
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Application Approval</em>',
        description:
          'Once your application has been received, GCI staff will consult with your Medical Provider to confirm your eligibility. ',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Order Fulfilment</span>',
        description:
          'GCI staff will do their best to compile the requested list of comfort items and get them to you prompty.',
        icon: 'tabler:paint',
      },
      {
        title: 'Enjoy some much needed comfort!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: import('~/assets/images/creativity.jpg'),
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    highlight="Components"
    items={[
      {
        title: 'Headers',
        description:
          'In general, Headers contain information that makes it easier for visitors to interact with the website.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          'If you want your website to get more than its fair share of visitors, the Hero section needs to be stellar.',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Display your product in action and how the Features actually create a solution for your target customer.',
        icon: 'flat-color-icons:todo-list',
      },
      {
        title: 'Content',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'icon-park:page-template',
      },
    ]}
  /> -->

  <!-- HighlightedPosts Widget ******* -->

  <LatestPosts
    title="Find out more content in our Blog"
    information={`
		`}
    postIds={[
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md',
      'useful-resources-to-create-websites.md',
      'astrowind-template-in-depth.md',
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Duis turpis dui, fringilla mattis sem nec, fringilla euismod neque. Morbi tincidunt lacus nec tortor scelerisque pulvinar."
    highlight="FAQs"
    items={[
      [
        {
          question: 'What do I need to start?',
          answer:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consequat porttitor felis ac aliquam. Fusce ac augue a felis volutpat condimentum. Mauris elementum a ante sit amet imperdiet.',
        },
        {
          question: 'How to install the Astro + Tailwind CSS template?',
          answer:
            "Morbi lorem mi, semper vitae ipsum eget, dapibus suscipit libero. Suspendisse mattis purus quis ligula commodo, id sodales est eleifend. Suspendisse non sem finibus, imperdiet enim a, egestas lacus. Mauris a consequat mauris, convallis dictum sem",
        },
        {
          question: " Sed ipsum risus, mollis et odio vel, semper lacinia leo. Curabitur sem nulla, finibus a elit a, molestie mollis nun?",
          answer:
            "Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec rhoncus mi sed ligula egestas, vitae dictum risus sodales.",
        },
      ],
      [
        {
          question: "Interdum et malesuada fames ac ante ipsum primis in faucibus?",
          answer:
            "Quisque at venenatis ex. Suspendisse porta rhoncus ipsum, non vulputate urna ultricies id. Ut suscipit felis elit, a cursus ligula tempor a.",
        },
        {
          question: 'Praesent efficitur maximus bibendum?',
          answer:
            "Aliquam feugiat massa at ante eleifend venenatis. Sed in nisl aliquam, eleifend velit non, dignissim neque. Duis ut ex odio.",
        },
        {
          question: 'If you could only ask one question to each person you meet, what would that question be?',
          answer:
            "Ut eget nulla condimentum, molestie metus euismod, finibus elit. Sed eu euismod nibh. Morbi suscipit mauris magna, a malesuada eros dictum id. Ut sed pulvinar metus, sit amet mollis ante.",
        },
      ],
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    items={[
      { name: 'Years Helping our Community', value: '1' },
      { name: 'Applications Recievied', value: '102' },
      { name: 'Wishlists Fulfilled', value: '57' },
      { name: 'Comfort Given', value: 'Immesurable' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Get template',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:download',
    }}
  >
    <Fragment slot="title">
      Give <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Comfort, Inc is powered by donations</span>
    </Fragment>

    <Fragment slot="subtitle">
      Help us help those who are struggling and could really <br class="hidden md:inline" />use a little comfort.
    </Fragment>
  </CallToAction>
</Layout>
