---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
//import Note from '~/components/widgets/Note.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: false,
};
---

<Layout {meta}>
   <!-- Hero2 Widget ******************* -->

   <Hero2
   callToAction={{ text: 'Donate', href: 'https://github.com/onwidget/astrowind', icon: 'tabler:download' }}
   callToAction2={{ text: 'Learn more', href: '#features' }}
   image={{ src: import('~/assets/images/donate-cheerful.jpg'), alt: 'AstroWind Hero Image' }}
 >
   <Fragment slot="title">
     <span class="hidden lg:inline">Give</span>
     <span class="text-accent dark:text-white highlight"> Comfort</span>, Inc.
   </Fragment>

   <Fragment slot="subtitle">
     <span class="hidden sm:inline">
       <span class="font-semibold">GCI</span> is here to make sure that all of our neighbors have the items they need to feel more comfortable while they are on cancer treatment. We do not want anyone to go through cancer treatment without the items they need to be more comfortable. We are here. We will give comfort.</span>
   </Fragment>
 </Hero2>


  <!-- Content Widget **************** -->

  <Content
    highlight="ðŸ“‹ About"
    title="Who are we?"

  image={{
    src: import('~/assets/images/hero.png'),
    alt: 'Vintage Image',
  }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">A little about us...</h3>
      <p>We are a 501(c)(3) tax-exempt nonprofit organization serving cancer patients in Kanawha County, West Virginia. </p>
      <br />
      <p>Our founder and President, a Stage 3 cancer survivor, started this organization in honor of her friend, who passed away shortly after a sudden diagnosis of metastatic cancer.</p> 
      <br />
      <p>We at Give Comfort, Inc. understand the mental, physical, and financial burdens caused by cancer.  
      We are here to make sure that all of our neighbors have the items they need to feel more comfortable while they are on cancer treatment.</p>
      <br /> 
      <p>We do not want anyone to go through cancer treatment without the items they need to be more comfortable. We are here. We will give comfort. </p>
    </Fragment>
  </Content>

   <!-- Features2 Widget ************** -->

 <Features2
 title="What We Offer"
 subtitle="Provides frequently used components for building websites using Tailwind CSS"
 highlight="ðŸŽ—ï¸ Services"
 items={[
   {
     title: 'Wishlist Fulfilment',
     description:
       'In general, Headers contain information that makes it easier for visitors to interact with the website.',
     icon: 'flat-color-icons:like',
   },
   {
     title: 'Community Outreach',
     description:
       'If you want your website to get more than its fair share of visitors, the Hero section needs to be stellar.',
     icon: 'flat-color-icons:advertising',
   },
   {
     title: 'Donation Driven',
     description:
       'Display your product in action and how the Features actually create a solution for your target customer.',
     icon: 'flat-color-icons:currency-exchange',
   },
  
 ]}
/>
  <!-- Features Widget *************** -->

<!--  <Features
    highlight="Features"
    title="What you get with AstroWind"
    subtitle="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam, eaque ipsa quae."
    items={[
      [
        {
          title: 'Astro + Tailwind CSS Integration',
          description:
            'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
          icon: 'tabler:brand-tailwind',
        },
        {
          title: 'Ready-to-use Components',
          description:
            'Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
          icon: 'tabler:components',
        },
        ],
        [
        {
          title: 'Best Practices',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
          icon: 'tabler:list-check',
        },
        {
          title: 'Best Practices',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
          icon: 'tabler:list-check',
        },
        ]
    ]}
  /> --->

  <!-- Content Widget **************** -->

  <Content
  isReversed
  
  items={[
    {
      title: 'Electric throw blanketst',
       },
    {
      title: 'Drymouth lozenges',
        },
    {
      title: 'Chemotherapy approved lotions & ointments',
    },
  ]}
  image={{
    src: import('~/assets/images/hero.png'),
    alt: 'Colorful Image',
  }}
>
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Popular Wishlist Requests</h3>
  </Fragment>
</Content>
  

  <!-- Steps Widget ****************** -->

  <Steps
    title="How to get Comfort"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Request/Download application</span>',
        description:
          'Submit the Request form or download the form and email it to help@wegivecomfort.org',
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Application Approval</em>',
        description:
          'Once your application has been received, GCI staff will consult with your Medical Provider to confirm your eligibility. ',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Order Fulfilment</span>',
        description:
          'GCI staff will do their best to compile the requested list of comfort items and get them to you prompty.',
        icon: 'tabler:paint',
      },
      {
        title: 'Enjoy some much needed comfort!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: import('~/assets/images/hero.png'),
      alt: 'Steps image',
    }}
  />


 
  <!-- Stats Widget ****************** -->

  <Stats
    items={[
      { name: 'Years Serving Community', value: '1' },
      { name: 'Applications Recievied', value: '102' },
      { name: 'Wishlists Fulfilled', value: '57' },
      { name: 'Comfort Given', value: 'â¤ï¸' },
    ]}
  />


  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Duis turpis dui, fringilla mattis sem nec, fringilla euismod neque. Morbi tincidunt lacus nec tortor scelerisque pulvinar."
    highlight="FAQs"
    items={[
      [
        {
          question: 'What do I need to start?',
          answer:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consequat porttitor felis ac aliquam. Fusce ac augue a felis volutpat condimentum. Mauris elementum a ante sit amet imperdiet.',
        },
        {
          question: 'How to install the Astro + Tailwind CSS template?',
          answer:
            "Morbi lorem mi, semper vitae ipsum eget, dapibus suscipit libero. Suspendisse mattis purus quis ligula commodo, id sodales est eleifend. Suspendisse non sem finibus, imperdiet enim a, egestas lacus. Mauris a consequat mauris, convallis dictum sem",
        },
        {
          question: " Sed ipsum risus, mollis et odio vel, semper lacinia leo. Curabitur sem nulla, finibus a elit a, molestie mollis nun?",
          answer:
            "Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec rhoncus mi sed ligula egestas, vitae dictum risus sodales.",
        },
      ],
      [
        {
          question: "Interdum et malesuada fames ac ante ipsum primis in faucibus?",
          answer:
            "Quisque at venenatis ex. Suspendisse porta rhoncus ipsum, non vulputate urna ultricies id. Ut suscipit felis elit, a cursus ligula tempor a.",
        },
        {
          question: 'Praesent efficitur maximus bibendum?',
          answer:
            "Aliquam feugiat massa at ante eleifend venenatis. Sed in nisl aliquam, eleifend velit non, dignissim neque. Duis ut ex odio.",
        },
        {
          question: 'If you could only ask one question to each person you meet, what would that question be?',
          answer:
            "Ut eget nulla condimentum, molestie metus euismod, finibus elit. Sed eu euismod nibh. Morbi suscipit mauris magna, a malesuada eros dictum id. Ut sed pulvinar metus, sit amet mollis ante.",
        },
      ],
    ]}
  />



  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Get template',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:download',
    }}
  >
    <Fragment slot="title">
      Give <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Comfort, Inc is powered by donations</span>
    </Fragment>

    <Fragment slot="subtitle">
      Help us help those who are struggling and could really <br class="hidden md:inline" />use a little comfort.
    </Fragment>
  </CallToAction>

    
  <!-- HighlightedPosts Widget ******* -->

  <LatestPosts
    title="Find out more content in our Blog"
    information={`
		`}
    postIds={[
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md',
      'useful-resources-to-create-websites.md',
      'astrowind-template-in-depth.md',
    ]}
  />

</Layout>
